{% extends 'base.html' %}

{% block title %}Tạo mật khẩu{% endblock %}
{% block content %}
<section class="padding-y bg-light">
    <div class="container" style="width: 50%;">
        <div class="row gy-6" s>
            <!-- col end.// -->
            <aside class="">
                <!-- ==============COMPONENT LOGIN 3 ============== -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">Tạo mật khẩu</h4>
                        {% include 'includes/alerts.html' %}
                        <form action="{% url 'reset_password' %}" method="POST">
                            {% csrf_token %}
                            <div class="row gx-3">
                                <div class="col mb-4" name="first_name"> <label class="form-label">Mật khẩu</label>
                                    <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
                                </div> <!-- col end.// -->

                            </div> <!-- row end.// -->
                            <!-- row end.// -->
                            <div class="row gx-3">

                                <!-- col end.// -->


                                <div class="col mb-4" name="first_name"> <label class="form-label">Nhập lại mật
                                        khẩu</label> <input type="password" name="confirm_password" class="form-control"
                                        placeholder="Nhập lại mật khẩu"> </div> <!-- col end.// -->
                            </div> <!-- row end.// -->
                            <div class="row mt-3 mb-4 align-items-center">
                                <div class="col-auto"> <button class="btn btn-primary" type="submit">Đăng ký</button>
                                </div>

                            </div>
                        </form> <!-- form end.// -->
                    </div> <!-- card-body end.// -->
                </div> <!-- card end.// -->
                <!-- ============== COMPONENT LOGIN 3 END.// ============== -->
            </aside> <!-- col end.// -->
        </div> <!-- row end.// --> <br><br>
        <!-- row end.// -->
    </div> <!-- container end.// -->
</section>
{% endblock %}